<div>
  <h1>Orders</h1>
</div>

<div>
  <% @orders.each do |ord| %>
    <p>ID:<%= ord.id%></p>
    <p>Created:<%= ord.created%></p>
    <p>Promotion Code:<%= ord.promotion_code%></p>
    <p>Discount Code:<%= ord.discount_code%></p>
    <p>Total Price:<%= ord.total_price%> $</p>
  <% end %>
</div>